{% set ID = env['deployment'] + '-' + env['name'] %}

resources:
- name: {{ ID }}-master
  type: sqladmin.v1beta4.instance
  properties:
    region: {{ properties['cloudsql']['region'] }}
    backendType: SECOND_GEN
    databaseVersion: POSTGRES_9_6
    settings:
      tier: {{ properties['cloudsql']['tier'] }}
      dataDiskSizeGb: {{ properties['cloudsql']['dataDiskSizeGb'] }}
      dataDiskType: {{ properties['cloudsql']['dataDiskType'] }}
      {% if properties['databaseFlags'] %}
      databaseFlags: {{ properties['databaseFlags'] }}
      {% endif %}
      ipConfiguration:
        ipv4Enabled: true
        authorizedNetworks:
        - name: foobar
          value: '0.0.0.0/0'
        requireSsl: true
      backupConfiguration:
        enabled: true

{% if properties['database'] %}
- name: {{ ID }}-db
  type: sqladmin.v1beta4.database
  properties:
    name: {{ properties['database']['name'] }}
    instance: $(ref.{{ ID }}-master.name)
    charset: {{ properties['database']['charset'] }}
{% endif %}

{% if properties['dbUser'] %}
- name: {{ ID }}-db-root
  type: sqladmin.v1beta4.user
  properties:
    name: {{ properties['dbUser']['name'] }}
    host:  "{{ properties['dbUser']['host'] }}"
    instance: $(ref.{{ ID }}-master.name)
    password: {{ properties['dbUser']['password'] }}
  metadata:
    dependsOn:
      - {{ ID }}-db
{% endif %}

outputs:
  - name: {{ ID }}-master-ip
    value: $(ref.{{ ID }}-master.ipAddresses[0].ipAddress)
  - name: {{ ID }}-master-connectionName
    value: $(ref.{{ ID }}-master.connectionName)
